.notes__main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.notes__appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    color: white;
    padding: 10px 20px;
}
.notes__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.notes__title-input, 
.notes__textarea {
    border: none;
    &:focus {
        outline: none;
    }
}
.notes__title-input {
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.notes__textarea {
    //border: 1px solid black;
    color: $dark-grey;
    font-size: 20px;
    flex: 1 1 auto;
    resize: none;
    margin-bottom: 10px;
}
// .notes__image {
    
// }
.notes__image img {
    box-shadow: 5px 5px $dark-grey;
}