body {
    padding: 60px;
}
hr {
    width: 100%;
}
div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
blockquote {
    display:flex;
    border: 1px solid red;
}
div.tareaMemo {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button {
    max-width: 100px;
    width: 100%;
    padding: 5px 10px;
}